@mixin checkerboard($color1: #808080, $color2: transparent) {
  background-image:
    linear-gradient(45deg, $color1 25%, $color2 25%),
    linear-gradient(135deg, $color1 25%, $color2 25%),
    linear-gradient(45deg, $color2 75%, $color1 75%),
    linear-gradient(135deg, $color2 75%, $color1 75%);

  background-size: 20px 20px;
  background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
}
